$dividegrey: rgb(243, 243, 243);
$lightgrey: rgb(248, 248, 249);
$middlegrey: rgb(233, 234, 236);
$deepgrey: #4d4d4d;
$active: #2d8cf0;
$hover: #e1f0fe;
$disabled: #bbbec4;
$shadow: rgba(0, 0, 0, 0.2) 0px 1px 6px 0px;
$radius: 2px;

$middleDivideWidth: 4px;
$panelWidth: 220px;
$panelHeight: 246px;
$headerHeight: 32px;
$optionHeight: 40px;
$confWidth: 90px;

$fontColor: rgb(73, 80, 96);
$borderColor: rgba(0,0,0,0.87);
