@import '../common/base.scss';

ng-time-picker{
	.ng-time-container{
		width: $panelWidth;
		height: $panelHeight + $headerHeight;
		margin: 0;
		padding: 0;
		& > p.w-time-header{
			display: block;
			width: 100%;
			height: $headerHeight;
			margin: 0;
			border-bottom: 1px solid $dividegrey;
			text-align: center;
			line-height: $headerHeight;
		}
		& > div{
			float: left;
			width: 72px;
			height: $panelHeight;
			overflow-y: hidden;
			border-right: 1px solid $dividegrey;
			&.w-sec-scroll{
				border: none;
			}
			&:hover{
				overflow-y: scroll;
			}
			.u-time-cell{
				display: block;
				width: 100%;
				height: 24px;
				line-height: 24px;
			    text-indent: 28px;
			    cursor: pointer;
				transition: all .2s ease-in-out;
				&.selected{
					color: $active;
					background-color: $dividegrey;
				}
			    &:hover{
					background-color: $dividegrey;
			    }
			}
		}
	}
}