@import '../common/base.scss';

ng-calendar-picker {
    .ng-calendar-container {
        width: $panelWidth;
        height: $panelHeight + $headerHeight;
        margin: 0;
        padding: 0;
        &:nth-child(1) {
            float: left;
        }
        &:nth-child(2) {
            float: right;
        }
        &>.w-calendar-header {
            position: relative;
            display: block;
            width: 100%;
            height: $headerHeight;
            margin: 0;
            border-bottom: 1px solid $dividegrey;
            text-align: center;
            line-height: $headerHeight;
            span {
                cursor: pointer;
                &:hover {
                    color: $active;
                }
            }
            .btn-prev-year,
            .btn-next-year {
                font-size: 18px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: $middlegrey;
            }
            .btn-prev-year {
                left: 20px;
            }
            .btn-next-year {
                right: 20px;
            }
        }
        &>.w-calendar-body {
            $ratio: 3 / 4;
            @mixin common-cell {
                float: left;
                display: block;
                position: relative;
                width: $panelWidth / 3;
                height: $panelHeight / 4;
                span {
                    position: absolute;
                    text-align: center;
                    display: block;
                    width: $panelWidth / 3 * $ratio;
                    height: $panelHeight / 4 * $ratio;
                    line-height: $panelHeight / 4 * $ratio;
                    border-radius: $radius;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                }
                &:hover>span {
                    background-color: $hover;
                    color: $active;
                }
                &.selected>span {
                    background-color: $active;
                    color: #fff;
                }
                &.disabled>span {
                	background-color: #fff;
                	color: $disabled;
                }
            }
            .panel {
                width: $panelWidth;
                height: $panelHeight;
            }
            .panel-choose-year {
                .u-cell-year {
                    @include common-cell;
                }
            }
            .panel-choose-month {
                .u-cell-month {
                    @include common-cell;
                }
            }
            .panel-choose-date {
                $pad: ($panelHeight - $panelWidth) / 7 / 2;
                .u-cell-date-header {
                    width: 100%;
                    height: $panelHeight / 7;
                    margin-top: $pad;
                    span {
                        display: block;
                        float: left;
                        width: $panelWidth / 7;
                        height: 100%;
                        text-align: center;
                        line-height: $panelHeight / 7;
                        color: $disabled;
                    }
                }
                .u-cell-date {
                    float: left;
                    display: block;
                    position: relative;
                    width: $panelWidth / 7;
                    height: $panelWidth / 7;
                    margin-top: $pad;
                    span {
                        width: $panelWidth / 7 * ( 4 / 5);
                        height: $panelWidth / 7 * ( 4 / 5);
                        text-align: center;
                        display: block;
                        border-radius: $radius;
                        cursor: pointer;
                        line-height: $panelWidth / 7 * ( 4 / 5);
                        margin-top: $panelWidth / 7 * ( 1 / 10);
                        margin-left: $panelWidth / 7 * ( 1 / 10);
                    }
                    &:hover>span {
                        background-color: $hover;
                        color: $active;
                    }
                    &.range>span {
                        background-color: $hover;
                        color: $active;
                        border-radius: 0;
                        width: $panelWidth / 7;
                        margin-left: 0;
                    }
                    &.selected>span {
                        background-color: $active;
                        color: #fff;
                    }
                    &.disabled>span {
                        background-color: #fff;
                        color: $disabled;
                    }
                    &.forbidden>span {
                        cursor: not-allowed;
                        opacity: .5;
                        background-color: $active;
                        color: #fff;
                    }
                }
            }
        }
    }
}
