<div class="ng-date-picker-container">
	<div class="m-picker-input">
		<input aria-label="日期组件" class="w-picker-input" type="text" name="ng-picker-input" ng-model="vmDp.formatVal" placeholder="{{vmDp.placeholder}}" ng-click="vmDp.viewMethods.togglePicker(true)"/>
	</div>
	<div id="ng-picker-to-clone__{{vmDp.SCOPE_ID}}" class="m-picker-dropdown" ng-class="{'transition-show': vmDp.isOpened, 'no-options': !vmDp.options}">
		<div class="w-picker-conf">
			<span class="config-item" ng-repeat="conf in vmDp.options" ng-click="vmDp.viewMethods.selectOption(conf)">{{conf.name}}</span>
		</div>
		<div class="w-picker-time-panel" ng-show="vmDp.views === 'time'">
			<div class="panel-left">
				<ng-time-picker  value="vmDp.value.start"></ng-time-picker>
			</div>
			<span class="u-divide-panel"></span>
			<div class="panel-right">
				<ng-time-picker value="vmDp.value.end"></ng-time-picker>
			</div>	
		</div>
		<div class="w-picker-calendar-panel" ng-show="vmDp.views === 'calendar'">
			<!-- 暂时只做range的考虑 -->
			<ng-calendar-picker value="vmDp.value"></ng-calendar-picker>
		</div>

		<div class="w-picker-option">
			<span class="btn-opt-view" ng-show="vmDp.views === 'calendar'" ng-click="vmDp.viewMethods.selectView('time')">选择时间</span>
			<span class="btn-opt-view" ng-show="vmDp.views === 'time'" ng-click="vmDp.viewMethods.selectView('calendar')">选择日期</span>
			<span class="btn-opt-clear" ng-click="vmDp.viewMethods.clearValue()">清空</span>
			<span class="btn-opt-done" ng-click="vmDp.viewMethods.doneValue()">确定</span>
		</div>
	</div>
</div>

<div id="ng-mask-to-clone__{{vmDp.SCOPE_ID}}" class="m-picker-mask" ng-show="vmDp.isOpened" ng-click="vmDp.viewMethods.togglePicker(false)"></div>